body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
}

header {
  background: #5e17eb;
  color: white;
  padding: 30px;
}

.subjects {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #5e17eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #222;
  color: white;
  padding: 15px;
}
.login-box {
  max-width: 300px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}